#mygrid {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 1fr 100px;
  grid-template-columns: 30% 15% 40% 15%;
  grid-template-areas:
    "area1 area2 area2 area2"
    "area3 area4 area4 area5"
    "area3 area6 area7 area7"
    "area3 area8 area8 area8";
}

span {
  border: 1px solid red;
}

#area1 {
  grid-area: area1;
}

#area2 {
  background: red;
  grid-area: area2;
  text-align: center;
  font-size: 35px;
}

#area3 {
  background: blue;
  grid-area: area3;
}

#area4 {
  background: yellow;
  grid-area: area4;
}

#area5 {
  background: blue;
  grid-area: area5;
}

#area6 {
  background: red;
  grid-area: area6;
}

#area7 {
  background: grey;
  grid-area: area7;
}

#area8 {
  background: yellow;
  grid-area: area8;
}
